# Git Ignore file

## Builds

## NodeJS Runtime

node_modules

## Python Runtine

*.pyc

## Binary files
*.jpg

## Python files

.python-version

## Editors

*.swp
*.ods#
*.odt#

## IDEs

.code
.idea

## Support Tools
.obsidian
.trash

