# Git Ignore file

## Builds

## NodeJS Runtime

node_modules

## Python Runtine

*.pyc

## Binary files
*.jpg

## Python files

.python-version

## Editors

*.swp
*.ods#
*.odt#

## IDEs

.vscode/settings.json
.idea

## Support Tools
.obsidian
.trash

## Engineering Method Support
Draft.md
Work In Progress.md
